.git
.github
.gitignore
.DS_Store
.vscode
.idea

**/node_modules
**/.pnpm-store
**/.expo
**/.tmp
**/dist
**/dist-debug
**/dist-ios
**/dist-android

**/.env
**/.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
