# Expo (Metro) injects any variable prefixed with EXPO_PUBLIC_ into the bundle.
EXPO_PUBLIC_BACKEND_TRPC_URL=http://localhost:3000/trpc
EXPO_PUBLIC_WEBAPP_URL=http://localhost:8081
# EXPO_PUBLIC_SENTRYHAWK_DSN = !!!SECRET!!!
NODE_ENV=development
EXPO_PUBLIC_CLOUDINARY_CLOUD_NAME=!!!SECRET!!!
EXPO_PUBLIC_MIXPANEL_API_KEY=!!!SECRET!!!
EXPO_PUBLIC_MIXPANEL_API_HOST=https://api-eu.mixpanel.com
